<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Add this element -->
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <!-- Add this element -->
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
      <property name="connection.connection_string">
        Server=.;initial catalog=NHibernateDemo;Integrated Security=True
      </property>
      <mapping assembly="NhibernateDemo" />
    </session-factory>
  </hibernate-configuration>
  <connectionStrings>
    <add name="DBConnection" connectionString="Server=.;Database=NHibernateDemo;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- Leave the other sections unchanged -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
